<h1><a href="{% url 'phonebook:person_list' %}"> phonebook </a></h1>


<form method="GET" action="" id="searchform">
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search..."/>
    <button id="searchsubmit" type="submit">Search</button>
</form>

<a href="{% url 'phonebook:person_new' %}">New person</a>

<ol>
    {% for person in object_list %}
    <li>
    {{ person.name }} {{ person.surname }}
    {% if person.phonenumbers.all.count < 1 %}
    {% if person.emails.all.count < 1 %}
    <a href="{% url 'phonebook:person_delete' person.id %}">[Delete]</a>
    {% endif %}
    {% endif %}
    <a href="{% url 'phonebook:person_edit' person.id %}">[Edit]</a>
    <p>
    <ul>
        Phone numbers:
        <a href="{% url 'phonebook:phone_number_new' person.id %}">[Add]</a>
        {% for phone_number in person.phonenumbers.all %}
        <li>{{ phone_number.phone_number }}</li>
        {% endfor %}
    </ul>
    </p>
    <ul>
        Email adresses:
        <a href="{% url 'phonebook:email_new' person_id=person.pk %}">[Add]</a>
        {% for email in person.emails.all %}
        <li>{{ email.email }}</li>
        {% endfor %}
    </ul>
    </li>

    {% endfor %}
</ol>