<h1><a href="{% url 'phonebook:person_list' %}"> phonebook </a></h1>

<form method="post">{% csrf_token %}
    Are you sure to delete "{{ object.name }} {{ object.surname }}" ? <br>
    <input type="submit" value="Delete" />
</form>