<h1><a href="{% url 'phonebook:person_list' %}"> phonebook </a></h1>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type=hidden name="person_id" value="{{ a_id }}">
    <input type="submit" value="Submit"/>
</form>